.fade-in {
  animation: fade-in ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  min-height: 70vh;

  @screen lg {
    min-height: 95vh;
  }
}

.social-icons:last-child .icon {
  @apply mr-0;
}

.content {
  @apply !pb-0;
}

.collapse .view .title {
  @apply dark:text-white;
}

.gradient-one {
  background: linear-gradient(135deg, rgba(191,57,137,1) 0%, rgba(9,107,222,1) 100%);
  padding: 1px 3px;
  border-radius: 8px;
  margin-left: 1px;
  margin-right: 1px;
  background-clip: border-box;
  background-origin: padding-box;
}
